In [1284]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import explained_variance_score
from sklearn.metrics import r2_score

In [1285]:
house = pd.read_csv('./train.csv', delimiter = ',')
test_data = pd.read_csv('./test.csv', delimiter = ',')

In [1286]:
house = house.drop(columns = ['Id'])
house = house.drop(house[(house['GrLivArea'] > 4000) & (house['SalePrice'] < 300000)].index)
house = house.fillna(0)
test_Id = test_data['Id']
test_data = test_data.drop(columns = ['Id'])
test_data = test_data.fillna(0)

y_train = house['SalePrice'].values
t1 = pd.concat((house, test_data)).reset_index(drop = True)
t1 = t1.drop(columns = 'SalePrice')

In [1287]:
house.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,0,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,0,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,0,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,0,IR1,Lvl,AllPub,Corner,...,0,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,0,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [1288]:
t1_test = []
for category in t1:
    if pd.to_numeric(t1[str(category)], errors='coerce').notnull().all() == False:
        t1_test.append(str(category))

In [1289]:
t1_dummies = pd.get_dummies(t1, columns = t1_test)

In [1290]:
t1_dummies

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,160,21.0,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2913,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2914,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2915,85,62.0,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2916,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [1291]:
labels = house[['SalePrice']]
print("check labels: ", labels.head(3))
labels.shape[0]

check labels:     SalePrice
0  208500
1  181500
2  223500

1458

In [1292]:
features = t1_dummies.reset_index(drop = True)

In [1293]:
features

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216.0,0.0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655.0,0.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,160,21.0,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2913,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2914,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,0,0,1,1,0,0,0,0,0
2915,85,62.0,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2916,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [1294]:
X = features[:labels.shape[0]]
y = labels

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.05,random_state=0)

print("number of training samples: ", len(X_train))
print("number of test samples:", len(y_test))

number of training samples:  1385
number of test samples: 73

In [1295]:
mlr = LinearRegression()
mlr.fit(X_train,y_train)
mlr_score = mlr.score(X_test,y_test)
pred_mlr = mlr.predict(X_test)
expl_mlr = explained_variance_score(pred_mlr,y_test)

LinearRegression()

In [1296]:
pred_mlr

array([[ 151328.70849084],
       [ 158833.68276358],
       [  94033.36922645],
       [ 143230.88848916],
       [ 286376.11249524],
       [ 121311.37143254],
       [ 229014.68883533],
       [ 134521.28656732],
       [ 144698.17940081],
       [  98781.77722507],
       [ 238765.76923869],
       [ 103477.41913176],
       [ 130364.18387147],
       [ 145243.59013042],
       [ 115048.1988292 ],
       [ 235812.07429279],
       [ 199147.55440051],
       [  57323.83420562],
       [ 161531.28717216],
       [ 420866.92778979],
       [ 311302.7281607 ],
       [ 118235.74198674],
       [  92466.2632536 ],
       [ 101880.86314252],
       [ 108668.5207113 ],
       [ 287819.45554909],
       [ 225770.23673367],
       [ 108309.09653169],
       [ 131865.90259138],
       [ 408145.63997267],
       [ 156861.99513199],
       [ 237817.087452  ],
       [ 145997.71078433],
       [ 198265.62927366],
       [ 106303.19140657],
       [ 109643.66970755],
       [ 220914.6062707 ],
       [ 289633.54455438],
       [ 122645.68534176],
       [  66973.85711878],
       [ 109858.12249489],
       [ 197683.99496107],
       [ 117020.91212047],
       [ 139083.50860588],
       [ 201084.23076648],
       [ 159830.48131387],
       [ 280879.61640777],
       [ 308276.48308133],
       [ 466749.09709564],
       [ 268401.41959458],
       [ 225096.3800341 ],
       [ 106932.8200627 ],
       [ 165698.17187109],
       [ 114043.63497156],
       [ 381377.27180021],
       [ 304877.12114957],
       [ 292032.11640938],
       [ 119270.47656973],
       [ 202636.98946968],
       [ 136839.52908747],
       [ 169487.4463436 ],
       [ 138313.81868763],
       [ 116337.2569046 ],
       [ 267227.81918663],
       [ 120252.3786377 ],
       [ 376429.46008215],
       [ 278683.74013612],
       [ 286979.01069427],
       [-804673.30279182],
       [ 118007.03615848],
       [ 135432.29096844],
       [ 247179.56770355],
       [  87762.99785583]])

In [1297]:
y_test

      SalePrice
411   145000
211   186000
342   87500
303   149900
159   320000
1048  115000
980   178400
233   128200
254   145000
1362  104900
762   215200
734   108000
1272  137000
31    149350
1123  118000
1381  237500
279   192000
107   115000
310   165600
591   451950
34    277500
1428  119000
1028  105000
52    110000
223   97000
1230  190000
1059  220000
1101  119500
956   124000
1046  556581
299   158500
1300  225000
1197  144000
175   243000
826   109500
609   118500
1060  213500
1316  295493
1098  128000
649   84500
54    130000
333   207000
984   126000
633   139400
298   175000
921   145900
568   316600
759   290000
769   538000
1403  282922
937   253000
308   82500
1012  165000
543   133000
477   380000
412   222000
4     250000
182   120000
924   207500
142   166000
997   185000
184   127000
268   120500
765   264132
9     118000
994   337500
963   239000
1065  328000
1170  171000
905   128000
969   140000
529   200624
1404  105000

In [1298]:
from sklearn.tree import DecisionTreeRegressor
tr_regressor = DecisionTreeRegressor(random_state=0)
tr_regressor.fit(X_train,y_train)
tr_regressor.score(X_test,y_test)
pred_tr = tr_regressor.predict(X_test)
decision_score=tr_regressor.score(X_test,y_test)
expl_tr = explained_variance_score(pred_tr,y_test)

DecisionTreeRegressor(random_state=0)

0.8355084264081697

In [1299]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor(n_estimators=28,random_state=0)
rf_regressor.fit(X_train,y_train)
rf_regressor.score(X_test,y_test)
rf_pred =rf_regressor.predict(X_test)
rf_score=rf_regressor.score(X_test,y_test)
expl_rf = explained_variance_score(rf_pred,y_test)

RandomForestRegressor(n_estimators=28, random_state=0)

0.8875744217251216

In [1300]:
print("Multiple Linear Regression Model Score is ",round(mlr.score(X_test,y_test)*100))
print("Decision tree  Regression Model Score is ",round(tr_regressor.score(X_test,y_test)*100))
print("Random Forest Regression Model Score is ",round(rf_regressor.score(X_test,y_test)*100))

#Let's have a tabular pandas data frame, for a clear comparison

models_score =pd.DataFrame({'Model':['Multiple Linear Regression','Decision Tree','Random forest Regression'],
                            'Score':[mlr_score,decision_score,rf_score],
                            'Explained Variance Score':[expl_mlr,expl_tr,expl_rf]
                           })
models_score.sort_values(by='Score',ascending=False)

Multiple Linear Regression Model Score is  -51
Decision tree  Regression Model Score is  84
Random Forest Regression Model Score is  89

                        Model     Score  Explained Variance Score
2  Random forest Regression    0.887574  0.863405
1  Decision Tree               0.835508  0.828866
0  Multiple Linear Regression -0.507094  0.357473

In [1282]:
prediction_df = pd.DataFrame(rf_regressor.predict(features[labels.shape[0]:]), columns = ['SalePrice'])
prediction_df['Id'] = test_Id
prediction_df.head()

       SalePrice    Id
0  122789.285714  1461
1  156198.214286  1462
2  180361.321429  1463
3  186406.785714  1464
4  201454.500000  1465

In [1283]:
prediction_df.to_csv("my_predictions.csv", index = False)